*{
padding: 0px;
margin: 0px;
}
body{
  background-color: aqua;
}
h1{
  color: blue;
  font-size: 50px;
  text-align: center;
}

.flex{
  display: flex;
}
.photos{
  height: 150px;
  width: 150px;
  padding: 20px 10%;
}
.box{
  display: inline-block;
  margin: 50px;
  padding: 10px;
  width: 200px;
  border: solid blue;
  border-radius: 5% 10%;
}